.header {
  background-color: #020530;
  color: white;
  height: 60px;
}

.header .navbar-brand {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.header .nav-link {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.header .nav-link:hover {
  color: #79613f;
  transition: color 0.3s;
}

.header .btn {
  background-color: #aa906a;
  border: none;
  color: #020530;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  transition: background-color 0.3s;
}

.header .btn:hover {
  background-color: white;
}
