.header {
  background-color: #020530;
  color: white;
  height: 80px; /* Ajuste a altura conforme necessário */
}

.navbar-brand {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.nav-link {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.nav-link:hover {
  color: #79613f;
  transition: color 0.3s;
}

.btn {
  background-color: #aa906a;
  border: none;
  color: #020530;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: white;
}

.navbar-nav {
  align-items: center; /* Centraliza verticalmente os itens de navegação */
}