<header class="header">
  <nav class="navbar navbar-expand-lg navbar-dark h-100">
    <div
      class="container-fluid d-flex justify-content-between align-items-center h-100"
    >
      <a class="navbar-brand" href="#">DRA. KARLA BATISTA</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">QUEM SOMOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">CONTATO</a>
          </li>
        </ul>
      </div>
      <button class="btn ms-lg-3">BOOK A FREE CALL</button>
    </div>
  </nav>
</header>
