<div class="container mt-4">
    <div class="image-container">
        <img src="../../../assets/images/laser.jpg" alt="Imagem 1">
        <img src="../../../assets/images/laser.jpg" alt="Imagem 2">
        <img src="../../../assets/images/laser.jpg" alt="Imagem 3">
        <img src="../../../assets/images/laser.jpg" alt="Imagem 4">
        <img src="../../../assets/images/laser.jpg" alt="Imagem 5">
        <img src="../../../assets/images/laser.jpg" alt="Imagem 6">
        <img src="../../../assets/images/laser.jpg" alt="Imagem 7">
        <img src="../../../assets/images/laser.jpg" alt="Imagem 8">
        <img src="../../../assets/images/laser.jpg" alt="Imagem 9">
        <img src="../../../assets/images/laser.jpg" alt="Imagem 10">
    </div>
</div>