<div class="container mt-4">
  <div class="image-container row">
    <div class="col-6">
      <img src="../../../assets/images/soap.jpg" alt="Imagem 1" />
    </div>
    <div class="col-6">
      <img src="../../../assets/images/soap.jpg" alt="Imagem 1" />
    </div>
    <div class="col-6">
      <img src="../../../assets/images/soap.jpg" alt="Imagem 1" />
    </div>
    <div class="col-6">
      <img src="../../../assets/images/soap.jpg" alt="Imagem 1" />
    </div>
    <div class="col-6">
      <img src="../../../assets/images/soap.jpg" alt="Imagem 1" />
    </div>
    <div class="col-6">
      <img src="../../../assets/images/soap.jpg" alt="Imagem 1" />
    </div>
    <div class="col-6">
      <img src="../../../assets/images/soap.jpg" alt="Imagem 1" />
    </div>
    <div class="col-6">
      <img src="../../../assets/images/soap.jpg" alt="Imagem 1" />
    </div>
  </div>
</div>
