<div class="image-container">
    <img src="../../../assets/images/laser.jpg" alt="Imagem 1">
    <img src="../../../assets/images/laser.jpg" alt="Imagem 1">
    <img src="../../../assets/images/laser.jpg" alt="Imagem 1">
    <img src="../../../assets/images/laser.jpg" alt="Imagem 1">
    <img src="../../../assets/images/laser.jpg" alt="Imagem 1">
    <img src="../../../assets/images/laser.jpg" alt="Imagem 1">
    <img src="../../../assets/images/laser.jpg" alt="Imagem 1">
    <img src="../../../assets/images/laser.jpg" alt="Imagem 1">
    <img src="../../../assets/images/laser.jpg" alt="Imagem 1">
    <img src="../../../assets/images/laser.jpg" alt="Imagem 1">
</div>